#aboutrules{
	width:100%;
	height:100%;
	background-color:#6b71e4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#aboutrules p{
	text-align: center;
	position: relative;
	margin: 0px auto;
	color:white;
}
#aboutrules h3{
	text-align: center;
	color:white;
}
